<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
  <h1>About us</h1>
  <p>
This website is used to generate passwords for your facebook, google accout, instagram etc...
or many of them. In this website user can use multiple options for there password like UPPERCASE,
SPECIAL CHARACTER, Or NUMBERS for make there password very storng and uncrackable. This website is
completely free for every.

This Website is made by :
  </p>
  <h3>VISHAL SINGH CHAUHAN</h3>

  <a href="{% url 'home' %}"><h3>Home</h3></a>
</div>
